<h2>Edit Historical Landmark</h2>

<form method="POST" action="/landmarks/<%= @landmark.id %>">

    <input type="hidden" name="_method" value="PATCH">

    Landmark Name: <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">
    Year Completed: <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">

    <input type="submit" value="Edit Landmark">

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
