<h2>Create New Landmark</h2>

<!-- add content here -->

<form method="post" action="/landmarks">

    <h1>Create Landmark </h1>

    Landmark Name: <input id="landmark_name" type="text" name="landmark[name]"><br>
    Year Completed: <input id="landmark_year_completed" type="number" name="landmark[year_completed]"><br>
    <input type="submit" value="Create New Landmark">


</form>



<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
