<h2>All Figures</h2>

<!-- add content here -->
<% @figures.each do |figure| %>
    <h2>Name: <%= figure.name %></h2>
    
    <h3>Landmarks: </h3>
    <% figure.landmarks.each do |landmark| %>
        <p><%= landmark.name%> - <%=landmark.year_completed %></p>
    <% end %>

    <h3>Titles: </h3>
    <% figure.titles.each do |title| %>
        <p><%= title.name%></p>
    <% end %>
    
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
